<TMPL_IF form1>
  <div id="lox2mqttapp">
    <p class="wide">{{sl.heading}}</p>
    <p v-html="sl.intro"></p>

    <h3>Miniserver(s) configuration</h3>

    <p v-if="config.miniserver">This section lists the available Miniservers. Miniserver not listed? Configure your
      Miniservers <a href="/admin/system/miniserver.cgi">here</a>.</p>
    <div v-if="config.miniserver">
      <div id="vforid" v-for="(ms, index) in config.miniserver">

        <div v-if="sysconfig.miniserver[index].Name">
          <h3>Miniserver {{index}} ({{sysconfig.miniserver[index].Name}})</h3>
        </div>
        <div v-else>
          <h3>Miniserver {{index}}</h3>
        </div>

        <div class="ui-field-contain">
          <label for="ms.mqtt_topic_ms" class="col-fixed" style="min-width:15%">Miniserver topic name</label>
          <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
            <input type="text" style="width:50%" id="ms.mqtt_topic_ms" v-model.trim="ms.mqtt_topic_ms"
              v-on:change="formadata_changed()">
          </div>
        </div>
        <div class="ui-field-contain">
          <fieldset class="ui-controlgroup ui-controlgroup-vertical ui-corner-all" data-role="controlgroup">
            <div class="ui-controlgroup-label" role="heading">
              <legend>Options</legend>
            </div>
            <div class="ui-controlgroup-controls">
              <div class="ui-checkbox">
                <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-first-child"
                  :class="{ 'ui-checkbox-on': ms.other_user==true, 'ui-checkbox-off': ms.other_user==false }"
                  :for=`other_user-${index}`>Use other Miniserver login credentials</label>
                <input type="checkbox" :id=`other_user-${index}` v-model="ms.other_user"
                  v-on:change="formadata_changed();">
              </div>
              <div class="ui-checkbox">
                <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left"
                  :class="{ 'ui-checkbox-on': ms.publish_structure==true, 'ui-checkbox-off': ms.publish_structure==false }"
                  :for=`publish_structure-${index}`>Publish structure</label>
                <input type="checkbox" :id=`publish_structure-${index}` v-model="ms.publish_structure"
                  v-on:change="formadata_changed();">
              </div>
              <div class="ui-checkbox">
                <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left"
                  :class="{ 'ui-checkbox-on': ms.publish_states==true, 'ui-checkbox-off': ms.publish_states==false }"
                  :for=`publish_states-${index}`>Publish control states</label>
                <input type="checkbox" :id=`publish_states-${index}` v-model="ms.publish_states"
                  v-on:change="formadata_changed();">
              </div>
              <div class="ui-checkbox">
                <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left"
                  :class="{ 'ui-checkbox-on': ms.retain_message==true, 'ui-checkbox-off': ms.retain_message==false }"
                  :for=`retain_message-${index}`>Retain published MQTT messages</label>
                <input type="checkbox" :id=`retain_message-${index}` v-model="ms.retain_message"
                  v-on:change="formadata_changed();">
              </div>
              <div class="ui-checkbox">
                <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-last-child"
                  :class="{ 'ui-checkbox-on': ms.subscribe==true, 'ui-checkbox-off': ms.subscribe==false }"
                  :for=`subscribe-${index}`>Subscribe to MQTT</label>
                <input type="checkbox" :id=`subscribe-${index}` v-model="ms.subscribe"
                  v-on:change="formadata_changed();">
              </div>
              <p class="hint"><b>WARNING!</b> Publishing and subscribing to control state changes will increase the
                load on your Loxone Miniserver and MQTT server.</p>
            </div>
          </fieldset>
        </div>
        <div v-if="ms.other_user">
          <div class="ui-field-contain">
            <label :for=`user-${index}` class="col-fixed" style="min-width:15%">Miniserver username</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
              <input type="text" required style="width:50%" :id=`user-${index}` v-model.trim="ms.user"
                v-on:change="formadata_changed()">
            </div>
          </div>
          <div class="ui-field-contain">
            <label :for=`pass-${index}` class="col-fixed" style="min-width:15%">Miniserver password</label>
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
              <input type="password" required style="width:50%" :id=`pass-${index}` v-model.trim="ms.pass"
                v-on:change="formadata_changed()">
            </div>
          </div>
        </div> <!-- v-if ms.other_user -->
      </div> <!-- v-for -->

      <div style="height:15px"></div>

      <!-- Save and Apply button -->
      <div style="display:flex;align-items:center;justify-content:center;">
        <button :disabled='btn_disabled' class="ui-btn ui-btn-icon-right" data-inline="true"
          v-on:click="saveApply()">Save
          and Apply</button>
      </div>

      <div style="display:flex;align-items:center;justify-content:center;font-size:70%;padding:5px 20px 5px 20px">
        <p style="color:green" v-if="pid != null">Lox2MQTT running, PID: {{pid}}</p>
        <p style="color:red" v-else>Lox2MQTT not running</p>
      </div>

      <div v-show="data_changed" style="color:blue">
        Unsaved changes. Click 'Save and Apply' to restart the plugin using the new settings.
      </div>

      <div v-show="data_saved" style="color:green">
        Changes saved successfully.
      </div>

      <div v-show="data_save_error" style="color:red">
        Error saving data.
      </div>

    </div> <!-- v-if -->
    <p v-else>We could not find the Lox2MQTT configuration. Check the configuration file or reinstall the plugin.</p>

  </div>
</TMPL_IF>

<script>
  const generic = '/admin/system/ajax/ajax-generic.php';
  const lox2mqttapp = {
    setup() {
      console.log("Setup called");
    },
    data() {
      var config = this.getPluginConfig();
      var sysconfig = this.getSysConfig();
      const intervalID = setInterval(() => { this.updatePid() }, 5000);
      return {
        sl: {
          heading: "Lox2MQTT",
          intro: "Lox2MQTT enables communication between the Loxone Miniserver and MQTT. It connects to the Loxone Miniserver websocket " +
            "and the LoxBerry MQTT Widget and publishes Miniserver state changes over MQTT. Furthermore, specific commands can be send " +
            "over MQTT to control the Miniserver directly."
        },
        config: { miniserver: {} },
        sysconfig: { miniserver: {} },
        data_changed: false,
        data_saved: false,
        data_save_error: false,
        btn_disabled: false,
        pid: this.updatePid()
      };
    },
    methods: {
      formadata_changed() {
        this.data_changed = true;
        this.data_saved = false;
      },

      saveApply() {
        console.log("Called Save and Apply");
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.$data.config)
        };
        var self = this;
        // Update default.json of the plugin
        fetch(generic + '?file=LBPCONFIG/lox2mqtt/default.json&write', requestOptions)
          .then(function (response) {
            if (response.ok != true) {
              self.data_save_error = true;
            }
            else {
              //ajax restart not required anymore, replaced my pm2 watch
              //fetch('/admin/plugins/lox2mqtt/ajax/ajax-lox2mqtt-handler.php?ajax=restart_lox2mqtt');
              self.data_save_error = false;
              self.data_saved = true;
              self.data_changed = false;
            }
          });
      },

      getPluginConfig() {
        console.log("Called getPluginConfig");
        fetch(generic + '?file=LBPCONFIG/lox2mqtt/default.json&read')
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error, status = ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            this.config = data;
          });
      },

      getSysConfig() {
        console.log("Called getSysConfig");
        fetch(generic + '?file=LBSCONFIG/general.json&read&section=Miniserver')
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error, status = ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            this.sysconfig.miniserver = data;
          })
      },

      updatePid() {
        console.log("Called updatePid");
        fetch('/admin/plugins/lox2mqtt/ajax/ajax-lox2mqtt-handler.php?ajax=get_lox2mqtt_pid')
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error, status = ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            this.pid = data;
          });
      }
    }
  }

  Vue.createApp(lox2mqttapp)
    .mount('#lox2mqttapp')

</script>

<TMPL_IF form2>
  <div class="wide">Logfiles</div>
  <TMPL_VAR loglist_html>
</TMPL_IF>