<div>
    <p class="wide">Lox2MQTT</p>
    <p>Lox2MQTT enables communication between the Loxone Miniserver and MQTT. It connects to the Loxone Miniserver websocket
       and the LoxBerry MQTT Gategay and publishes Miniserver state changes over MQTT. In addition, control commands can be send
       over MQTT to control the Miniserver directly.<br><br>
       The plugin settings are not yet configurable via this webinterface. Instead, update the settings in the config/default.json of the plugin.</p>
</div>
